<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-12 d-flex justify-content-center">
          <div class="shared-box">
            <h3 class="p-0 m-0 shared-box-title fw-bold fs-lg-32px  fs-22px">
              بخش های اصلی
            </h3>
            <div class="dd"></div>
          </div>
        </div>
        <div class="col-6 ">
          <div class=" d-flex justify-content-between flex-column">
            <h1 class="fs-24px fw-bold text">
              <img src="/img/Group20023.svg" alt="">
              صوت و تصویر
            </h1>
            <p class="fs-16px m-0 lineH mt-4 text-justify">
              امکان بارگذاری نامحدود فایل صوتی و تصویری
              <br>
              امکان بارگذاری در قالب کانال‌ها و محورهای طبقه‌بندی شده
              <br>
              امکان ثبت علاقه‌مندی، یادداشت، اشتراک‌گذاری و... روی فایل‌ها
              <br>
              کنسول پخش حرفه‌ای برای فایل‌ها با قابلیت‌های مختلف
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-center">
            <img src="/img/Group19922.png" alt="Group11915">
          </div>
        </div>

        <div class="col-6">
          <div class="d-flex justify-content-start">
            <img src="/img/Group19923.png" alt="Group11915">
          </div>
        </div>
        <div class="col-6 ">
          <div class="d-flex justify-content-center">
            <div class=" ">
              <h1 class="fs-24px fw-bold text">
                <img src="/img/Group20024 (1).svg" alt="">
                برگزاری رویداد و وبینار
              </h1>
              <p class="fs-16px m-0 lineH mt-4 text-justify">
                امکان برگزاری نامحدود وبینار زنده
                <br>
                امکان آرشیو و دانلود وبینارهای گذشته
                <br>
                امکان ثبت‌نام و یادآوری رویداد پیش‌رو
                <br>
                امکان ثبت علاقه‌مندی، اشتراک‌گذاری و... روی هر رویداد
              </p>
            </div>
          </div>



        </div>

        <div class="col-6 ">
          <div class="d-flex justify-content-start">
            <div class=" ">
              <h1 class="fs-24px fw-bold text">
                <img src="/img/Group120025 (1).svg" alt="">
                محتوای متنی و پیوست فایل‌ها
              </h1>
              <p class="fs-16px m-0 lineH mt-4 text-justify">
                امکان ساخت نامحدود پرونده ویژه (کانال) در محورهای مختلف
                <br>
                امکان بارگذاری نامحدود محتوای متنی در هر پرونده
                <br>
                امکان افزودن انواع فایل پیوست در پرونده‌ها
                <br>
                امکان ثبت علاقه‌مندی، یادداشت، اشتراک‌گذاری و... روی هر پرونده
              </p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-center">
            <img src="/img/Group19924.png" alt="Group11915">
          </div>
        </div>

        <div class="col-6">
          <div class="d-flex justify-content-start">
            <img src="/img/Group19925.png" alt="Group11915">
          </div>
        </div>
        <div class="col-6 ">
          <div class="d-flex justify-content-center">
            <div class=" ">
              <h1 class="fs-24px fw-bold text">
                <img src="/img/Group20026.svg" alt="Group20026.svg">
                محتوای مبتنی بر تقویم
              </h1>
              <p class="fs-16px m-0 lineH mt-4 text-justify">
                امکان بارگذاری نامحدود محتوای متنی بر اساس 365 روز سال
                <br>
                امکان بارگذاری نامحدود فیش در هر یک از محتواهای روزانه
                <br>
                امکان افزودن انواع فایل پیوست در هر محتوا
                <br>
                امکان ثبت علاقه‌مندی، یادداشت، اشتراک‌گذاری و... روی هر محتوا
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
