.page-2{
  width: 162px;
}
.mmd{
  z-index: -1;
  color: #18A1A1;
}

.main-dashboard-box-title{
  color: #18A1A1;
  padding: 0 100px !important;
}
.main-dashboard-box-subtitle{
  color: #18A1A1;
  padding: 0 100px !important;
}
