<div class="home-amar mt-5 pt-5">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-6"></div>
      <div class="col-6">
        <div class="home-amar-title fw-bold fs-32px d-flex flex-column  ps-4 z-1">
              <span class="main-dashboard-box-title ">
                اشراق
              </span>
          <span class="main-dashboard-box-subtitle   m-0 p-0">
            از دریچه آمار
            </span>
          <div class="position-absolute mmd">
            <svg class="page-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 126 131" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M63 0C43.9476 9.00514 4.67422 34.7124 0 65.5V118.512C11.0927 111.376 39.2225 103.882 63 131C86.7775 103.882 114.907 111.376 126 118.512V65.5C121.326 34.7124 82.0524 9.00514 63 0Z"
                    fill="#F7F7F7"></path>
            </svg>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
