.show-facilities {
  background-color: #f8f8f8;

  border-radius: 50% / 15px;
  border-top-right-radius: 50% / 40px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.facilities-item {
  &-img {
    display: flex;
    justify-content: center;

    &-top {
      border-radius: 50%;
      aspect-ratio: 3/3;
      width: 80px !important;
      height: 80px !important;
    }
  }

  &-title {
    color: #255dca;
  }


}


.shared-box {
  font-weight: bold;
  font-size: 32px;
  color: #4e4e4e;
  position: relative;
  cursor: pointer !important;

  &:hover {
    color: black;
  }

  &:hover .dd {
    width: 100%;
    border-radius: 16px;
    cursor: pointer !important;
    right: 0;
  }
}

.dd {
  position: absolute;
  background-color: #ebb26c;
  width: 50px;
  height: 6px;
  right: 20px;
}

@media (max-width: 768px) {
  //.show-facilities {
  //  border-radius: 80px 80px 0 0;
  //}

  .facilities-item {
    &-img {
      &-top {
        width: 65px !important;
        height: 65px !important;
      }
    }

  }
  .mw-50{
    width: 64%;
  }
}
@media (max-width: 425px) {
  .mw-50{
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .mw-50{
    width: 90%;
  }
}













