.abouts-main-li {
  margin: 20px 0;
}

ddx {
  z-index: -1;
  height: 11px;
  width: 100%;
  background: #ffcc00d6;
  margin-bottom: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.arena-box {
  background-color: #f7f7f7;
  border-radius: 15px;

  min-height: 400px;

  &-ul {
    &-list {
      background: #FFFFFF;
      border: 1px solid #D3D3D3;
      overflow: hidden;
      box-shadow: 2px 2px 4px rgba(193, 193, 193, 0.3);
      border-radius: 10px;
      margin: 12px 0;
      padding: 5px 10px;

      &-btn {
        background-color: transparent;
        border: none;


      }
      &-title {
        color: #18A1A1;



      }
      &-dec {
        transition: 1s all !important;
      }


    }

  }

}
.arena-box-ul-list-title:hover.arena-box-ul-list-dec{
  display: block !important;
}
.hvr-icon{
  border: 1px solid #be8e25;
  border-radius: 50%;
  transform: rotate(270deg);
  fill: #be8e25;
}
.answer-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}



.answer-box {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.4s ease;
}

.answer-box.open {
  max-height: 300px;
  opacity: 1;
}
.answer-box {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out,
  opacity 0.3s ease-in-out,
  padding 0.5s ease-in-out;
  padding-top: 0;
}

.answer-box.open {
  max-height: 300px;
  opacity: 1;
  padding-top: 10px;
}
.sidebar-menu{
  position: sticky;
  top: 20%;
}
#Introduction,
#Arena,
#Services,
#Seminary {
  scroll-margin-top: 100px;
}


.abouts-main-li.active > a {
  color: #be8e25;
  font-weight: bold;
  border-bottom: 2px solid #be8e25;
}
.shared-box {
  &:hover{
    background-color: rgba(172, 197, 221, 0.13);
  }
  font-weight: bold;
  font-size: 32px;
  position: relative;
  cursor: pointer !important;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  &:hover .dd{
    width: 100%;
    border-radius: 16px;
    cursor: pointer !important;

  }
}
.dd{
  position: absolute;
  background-color: #F9D325;
  width: 0;
  height: 6px;
  right: 1px;
  bottom: 0 ;
}
.number{
  border-radius: 15px;
  color: white;
  width: 60px;
  padding: 8px;
  text-align: center;
}
.Seminary-icon{
  width: 50px;
  height: 50px;
}
.bordd{
  background-color: #642a98;
  width: 2px;
  height: 20px;
  right: 13%;
}

.shared-box:hover .bordd{
  height: 30px;
  width: 3px;
  border-radius: 99999px;

}

.Pillars-box{
  height: 147px;
  background: linear-gradient(90deg, #F0F0F7 0%, rgba(240, 240, 247, 0) 100%);
  border-radius: 24px 0px 0px 24px;
}
.Pillars-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #373F47;
}
.bg-Contact{
  background-image:url("/img/about-locationn.png") ;
  background-repeat: no-repeat ;
  width: 100%;
  border-radius: 24px;
  padding: 13px;
  max-width: 880px;
}
.box-Contact{
  background-color: white;
  border-radius: 15px;

}

.box-Contact{
  min-height:  460px;

}

.Agencies-btn{
  background-color: #FFE46B;
  color: #333333;
  padding: 10px 17px;
  width: fit-content;
  border: 1px solid #333333;
  border-radius: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.Agencies-svg{
  width: 44px;
  padding: 10px 0;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 15px;
}


























