<div class="container mt-5 ">
  <div class="row">

    <div class="col-12">
      <div class="shared-box mt-5">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex ">
              <div class="shared-box">
                <h3 class="p-0 m-0 shared-box-title fw-bold fs-lg-32px  fs-22px">
                  درباره ما
                </h3>
                <div class="dd"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-center">
          <img class="w-100" src="/img/about-all.png" alt="about-all">
        </div>
    </div>
  </div>
</div>


