<div class="home-colleagues  ">
  <div class="container p-lg-3 mt-5  px-4 mx-auto  d-lg-flex justify-content-lg-center      ">
      <div class="row home-colleagues-box  w-lg-75 py-3 p-md-3  position-relative ">
        <div class="box-1"></div>
          <div class=" mx-auto  p-lg-3 p-md-4    d-flex justify-content-around justify-content-md-between position-relative">
            <div class="">
              <div class="d-flex justify-content-center w-fit">
                <img class="img-colleagues" src="/img/mefrj.jpg" alt="mefrj">
              </div>
            </div>
            <div class="">
              <div class="d-flex justify-content-center w-fit">
                <img class="img-colleagues" src="/img/hmkar3.jpg" alt="hmkar3">
              </div>
            </div>
            <div class="">
              <div class="d-flex justify-content-center w-fit">
                <img class="img-colleagues" src="/img/hmkar2.jpg" alt="hmkar2">
              </div>
            </div>
            <div class="">
              <div class="d-flex justify-content-center w-fit">
                <img class="img-colleagues" src="/img/dt.jpg" alt="dt">
              </div>
            </div>
          </div>
        <div class="box-2"></div>
      </div>
  </div>
</div>
