<div class="home-colleagues p-lg-3 my-5">
  <div class="container d-flex mx-auto justify-content-center  ">
    <div class="home-colleagues-box p-lg-3 position-relative w-75">
      <div class="box-1"></div>
      <div class="row ">
        <div class="col-3">

          <div class="d-flex justify-content-center">
            <img src="/img/mefrj.jpg" alt="mefrj">
          </div>
        </div>
        <div class="col-3">

          <div class="d-flex justify-content-center">
            <img src="/img/hmkar3.jpg" alt="hmkar3">
          </div>
        </div>
        <div class="col-3">

          <div class="d-flex justify-content-center">
            <img src="/img/hmkar2.jpg" alt="hmkar2">
          </div>
        </div>
        <div class="col-3">

          <div class="d-flex justify-content-center">
            <img src="/img/dt.jpg" alt="dt">
          </div>
        </div>
      </div>
      <div class="box-2"></div>
    </div>


  </div>
</div>
