.home-escape {
  background-color: #fafafa;
  height: 100%;
  //box-shadow: 0 0 20px 1px #bfbfbf;
  //min-height: 340px  !important;

  &-box {
    &-btn {
      background-color: transparent;
      color: black;
      font-weight: 700;
      border: none;
    }


    &-icon {
      width: 60px;
      height: 60px;
      border-radius: 15px;
      border: 1px solid #D3D3D3;
      box-shadow: 2px 2px 4px rgba(193, 193, 193, 0.3);
      background-color: #FFFFFF;
      margin-bottom: 8px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &-ck {
        background-color: #00C0D1;
        border-radius: 15px;
      }

      &svg {
        &path {
          fill: white !important;
        }
      }

      &-nimkat {
        background-color: #1e9b81;
        border-radius: 15px;
      }
    }
  }
}

.color {
  color: #159B80;
}

.borderc {

  position: absolute;
  top: 41%;
  left: 0;
  right: 0;

  width: 90%;
  margin: 0 auto;

  padding: 10px !important;

  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

//.borderc::after {
//  content: "";
//  position: absolute;
//  right: 0;
//  bottom: 0;
//  width: 90%;
//  height: 3px;
//
//  background: #7e7a79;
//
//  transform: scaleX(2);
//  transform-origin: right;
//  transition: transform 0.5s ease, background 0.3s ease;
//}

.karizman-slide-body-item:hover .borderc::after {
  background: linear-gradient(90deg, #F9D325 0%, #18A1A1 100%);
  transform: scaleX(1);
  transform-origin: right;
}

.karizman-slide-body-item:not(:hover) .borderc::after {
  background: #7e7a79;
  transform: scaleX(1);
  transform-origin: left;
}

.karizman-slide-img {
  position: relative;
  top: -30px;
}

.karizman-slide-body-item:hover .karizman-slide-body-item-img {
  transform: translateY(-3px);
  transition: 0.5s all;
}

@property --fanos-angle {
  syntax: '<angle>';
  initial-value: 256.17deg;
  inherits: false;
}

.fanos {
  &-slide {
    background: linear-gradient(var(--fanos-angle), #159B80 0%, #FE916A 98.85%);
    animation: gradientShift1 4s ease-in-out infinite;
    //height: 350px;
    //background-image: url("/img/images.jfif");
    //background-size: 100% 100%;
    //background-repeat: no-repeat;
    //background-position: center;
    //background-position: center;
    border-radius: 20px;

    &-header {
      &-title {
        color: white;

      }

      &-btn {
        float: left;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        padding: 4px 16px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 14px;
        margin-left: 15px;
        background-color: transparent;
      }

    }

    &-body {

      &-item {
        background-color: white;
        border-radius: 15px;
        //aspect-ratio: 4/2;

        &-img {
          width: 100%;
          border-radius: 15px;
          aspect-ratio: 9/5;
          object-fit: cover;
        }

        &-user-img {
          width: 20px !important;

          height: 20px;
          border-radius: 50%;
          aspect-ratio: 9/5;
          object-fit: cover;
        }

        &-part {
          font-size: 14px !important;
        }

        &-user {
          font-size: 14px !important;
        }


      }
    }

    &-footer {

    }


  }
}

@keyframes gradientShift1 {
  0% {
    --fanos-angle: 200.17deg;
  }
  50% {
    --fanos-angle: 256.17deg;
  }
  100% {
    --fanos-angle: 200.17deg;
  }
}


.karizman {

  &-slide {
    background: linear-gradient(79.04deg, #F07168 0%, #01AFBA 100%);
    animation: gradientShift2 5s ease infinite;

    //min-height: 250px;
    //background-image: url("/img/images.jfif");
    //background-size: 100% 100%;
    //background-repeat: no-repeat;
    //background-position: center;
    //background-position: center;
    border-radius: 20px;

    &-header {
      &-title {
        color: white;

      }

      &-btn {
        float: left;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        padding: 4px 16px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 14px;
        margin-left: 15px;
        background-color: transparent;
      }

    }

    &-body {

      &-item {
        background-color: white;
        border-radius: 15px;
        position: relative;
        &-title {}
        &-img {
          width: 110px;
          height: 110px;
          position: relative;
          overflow: hidden;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          box-shadow: 0 0 10px 1px #7e7a79;
          z-index: 2000;


          &-bg {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: blur(1px);
            transform: scale(1.2);
            opacity: .5;
            z-index: 0;
          }

          &-main {
            position: relative;
            z-index: 1;
            width: 80%;
            height: 80%;
            object-fit: contain;
          }
        }

        &-box {
          color: #ef5350;
          background-color: #ffebee;
        }


      }
    }

    &-footer {

    }


  }
}

@keyframes gradientShift2 {
  0% {
    background: linear-gradient(50.04deg, #F07168 0%, #01AFBA 100%);
  }
  50% {
    background: linear-gradient(79.04deg, #F07168 0%, #01AFBA 100%);
  }
  100% {
    background: linear-gradient(50.04deg, #F07168 0%, #01AFBA 100%);
  }
}

.dal {

  &-slide {
    background: linear-gradient(259.04deg, #01AFBA 0%, #5F64B1 100% 100%
    );
    animation: gradientShift3 5s ease infinite;

    //min-height: 250px;
    //background-image: url("/img/images.jfif");
    //background-size: 100% 100%;
    //background-repeat: no-repeat;
    //background-position: center;
    //background-position: center;
    border-radius: 20px;

    &-header {
      &-title {
        color: white;

      }

      &-btn {
        float: left;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        padding: 4px 16px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 14px;
        margin-left: 15px;
        background-color: transparent;
      }

    }

    &-body {


      &-item {
        width: 372px;
        height: 100%;
        background-color: white;
        border-radius: 15px;
        position: relative;

        &-Category {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          border-radius: 16px;

          &-text {
            transform: rotate(-90deg);
            transform-origin: center;
            white-space: nowrap;
          }
        }

        &-img {
          width: 88px;
          height: 88px;
          position: relative;
          overflow: hidden;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
        }

        &-person {
          &-img {
            width: 30px !important;
            height: 30px !important;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.category-box p {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  text-align: center;
  padding: 3px 10px;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: black;
  //z-index: 1;
  -webkit-text-stroke: 0.05px #ffffff;
  z-index: 0;

  &:after {
    border-radius: 0 0 4px 4px;
    content: '';
    width: 100%;
    background: var(--category-color, #f57f30);
    height: 55%;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -2;

  }
}


.bg-box {
  --progress: 1;

  position: relative;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;

}

.bg-box-text::before {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 50% !important;


  background: conic-gradient(
      #fff calc(var(--progress) * 90deg),
      #ab5922 0
  );

  padding: 3px;
  -webkit-mask: linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}


@keyframes gradientShift3 {
  0% {
    background: linear-gradient(200.04deg, #01AFBA 0%, #5F64B1 100% 100%
    );
  }
  50% {
    background: linear-gradient(259.04deg, #01AFBA 0%, #5F64B1 100% 100%
    );
  }
  100% {
    background: linear-gradient(200.04deg, #01AFBA 0%, #5F64B1 100% 100%
    );
  }
}

// soooooog
.soog {

  &-slide {
    background: linear-gradient(259.04deg, #01AFBA 0%, #5F64B1 100%);
    //min-height: 250px;
    //background-image: url("/img/images.jfif");
    //background-size: 100% 100%;
    //background-repeat: no-repeat;
    //background-position: center;
    //background-position: center;
    border-radius: 20px;
    animation: gradientShift4 5s ease infinite;
    transition: 1s all;

    &-header {
      &-title {
        color: white;

      }

      &-btn {
        float: left;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
        padding: 4px 16px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 14px;
        margin-left: 15px;
        background-color: transparent;
      }

    }


    &-item {
      position: relative;
      width: 392px;
      height: 201px;

      &-logo {


        img {
          position: absolute;
          top: -35px;
          left: 50%;
          transform: translateX(-50%);
          width: 72px;
          height: 72px;
          background: #fff;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 400;
        }
      }

      &-box {
        border-bottom: 1px solid #00C0D1;
        border-top: 1px solid #00C0D1;
        color: #00C0D1;
        margin-top: 10px;
      }


      &-body {
        background: rgb(255 255 255);
        border-radius: 8px;
        height: 100%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        overflow: visible;
        //clip-path: path("M0,0 L102,0 Q114,0 114,12 L114,38 Q114,50 126,50 L174,50 Q186,50 186,38 L186,12 Q186,0 198,0 L300,0 L300,200 L0,200 Z");
        z-index: -1;

        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,0 L36,0 Q38,0 38,4 L38,21 Q38,25 42,25 L58,25 Q62,25 62,21 L62,4 Q62,0 64,0 L100,0 L100,100 L0,100 Z' fill='white'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,0 L36,0 Q38,0 38,4 L38,21 Q38,25 42,25 L58,25 Q62,25 62,21 L62,4 Q62,0 64,0 L100,0 L100,100 L0,100 Z' fill='white'/%3E%3C/svg%3E");
        mask-size: 100% 100%;
        -webkit-mask-size: 100% 100%;
        mask-repeat: no-repeat;
      }
    }
  }
}



@keyframes gradientShift4 {
  0% {
    background: linear-gradient(200.04deg, #01AFBA 0%, #5F64B1 100%);
  }
  50% {
    background: linear-gradient(250.04deg, #01AFBA 0%, #5F64B1 100%);
  }
  100% {
    background: linear-gradient(200.04deg, #01AFBA 0%, #5F64B1 100%);
  }
}


@media (max-width: 768px) {
  .fanos-slide {
    border-radius: 0;
    padding: 0;
  }

}

@media (max-width: 768px) {
  .karizman-slide {
    border-radius: 0;
    padding: 0;
  }

}

@media (max-width: 768px) {
  .dal-slide {
    border-radius: 0;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .soog-slide {
    border-radius: 0;
    padding: 0;
  }
}

.dal-img {
  width: 85px;
  height: 91px;
}

.img-soog {
  width: 85px;
  height: 91px;
}

.icon-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #00C0D1;
}

.icon-title-n{
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #707070;
}



.karizman-slide-body-item-boxAA{

}

.karizman-slide-body-item-box-EndTimeAA{
  font-size: 14px;
  font-weight: bold;
  color: #2196f3;
  margin-right: 2px;
}
.karizman-slide-body-item-box-StartTimeAA{
  font-size: 14px;
  font-weight: bold;
  color: #2196f3;
  margin-right: 2px;
}


//
.karizman-progress-track {
  width: 100%;
  height: 4px;
  background-color: #E5E5E5;
  border-radius: 4px;
  overflow: hidden;
}

.karizman-progress-fill {
  height: 100%;
  background-color: #2499ef;
  border-radius: 4px;
  transition: width 0.3s ease;
}




//@media (max-width: 768px) {
//  .karizman-slide-body-item-title {
//    width: 55% !important;
//
//  }
//}




.img-karizma{
  width: 134px;
  height: 139px;

}



