<div class="nav py-2 d-flex align-items-center ">
  <div class="container">
    <div class="row">
      <div class="col-9">
        <ul class="d-flex p-0  m-0  align-items-center">
          <li class="">
            <img src="/img/navicon.svg" alt="navicon">
          </li>
          <li class="mx-3">
            <img src="/img/navbrand.svg" alt="navbrand">
          </li>
          <li>
            <a href="/" class="nav-link">
              صفحه اصلی
            </a>
          </li>
          <li>
            <a href="/" class="nav-link">
              ارکان مرکز
            </a>
          </li>
          <li>
            <a href="/" class="nav-link">
              ثبت ایده
            </a>
          </li>
          <li>
            <a href="/" class="nav-link">محصولات</a>
          </li>
          <li>
            <a href="/" class="nav-link">
              تیم ها</a>
          </li>
          <li>
            <a href="/" class="nav-link">رزرو
            </a>
          </li>
          <li>
            <a href="/" class="nav-link">درباره ما</a>
          </li>

        </ul>
      </div>
      <div class="col-3 ">
        <div class="d-flex justify-content-end">
          <button class="nav-btn ">
            <img class="  " src="/img/fi-rr-sign-in-alt.svg" alt="sign">
              ورود
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

