
.home-banner {
  background: linear-gradient(263.23deg, rgba(39, 189, 188, 0.14) 0%, rgba(249, 211, 37, 0.14) 100%);
  height: 100%;
  width: 100% !important;
  z-index: 1;
  position: absolute;
  padding-bottom: 45px;
}
//@media (min-width: 1040px) {
//  .home-banner {
//    background: linear-gradient(263.23deg, rgba(39, 189, 188, 0.14) 0%, rgba(249, 211, 37, 0.14) 100%);
//    height: 618px;
//    width: 100% !important;
//    z-index: 1;
//    position: absolute;
//  }
//
//}

.home-banner-description {
  line-height: 28px;
}

//.home-banner-margin {
//  justify-content: space-around;
//  display: flex;
//
//}
  //@media (min-width: 1450px) {
  //  .home-banner-margin {
  //    justify-content: center;
  //    display: flex;
  //    margin-right: 175px;
  //    margin-left: 150px;
  //  }
  //}

.home-banner-btn {
  &-more {
    box-shadow:
      0 8px 32px 0 transparent;
    min-width: 168px !important;
    background: linear-gradient(85.33deg, #27BDBC 0%, #18A2A1 100%);
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    //font-weight: 700;
    border: none !important;
    height: 50px;
    padding: 12px 25px;
    &-text{
      transition: all 1s !important;
      padding: 0 8px;

    }
    .textT {
      transition: all 1s !important;
      display: none;
    }
    &:hover{
      position: relative;
      justify-content: center;
      box-shadow:
        0 8px 32px 0 rgba(24, 162, 161, 0.35),
        inset 0 1px 1px rgba(255, 255, 255, 0.3);

      .text {
        transition: all 1s !important;
        //display: none;
      }
      .textT {
        transition: all 1s !important;
        display: block;
        padding: 0 5px;
        text-align: center;
      }

    }
    &-icon {
      font-size: 20px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 15px;
      cursor: pointer;
      color: #2fbdbc;
    }
  }

  &-video {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #373F47;

    &-icon {
      background-color: #F9D325;
      width: 48px;
      height: 48px;
      padding: 15px;
      border-radius: 15px;
      cursor: pointer;

    }
  }
}
.home-banner-btn-more:hover .home-banner-btn-more-icon{
  transform: rotate(10deg) translate(80px) !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  background-color: rgba(47, 189, 188, 0.90);
  color: white;

}
.textT {
  transition: all 1s !important;
  //padding: 0 8px;
}

@media (max-width: 767px) {
  .home-banner-description {
    font-weight: 400;
    line-height: 24px;
    color: #373F47;
  }
  .logo-mobile{
    max-width: 250px;
    z-index: 5 !important;
  }
}
@media (min-width: 768px) {
  .home-banner-description {
    font-weight: 400;
    line-height: 28px;
    color: #373F47;
  }
  .logo-mobile{
    max-width: 250px;
    z-index: 5 !important;
  }
}
.logo-text{
  width: 100%;
  z-index: 5 !important;
}


.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 267px;
}

.logo-svg {
  width: 100%;
  max-width: 350px;
  overflow: visible;
}

.logo-svg path {
  vector-effect: non-scaling-stroke;
}
.w-60{
  top: 58px;
  width: 60% !important;
  max-width: 200px;
}
.ww-60{
  top: 45px;
  width: 60% !important;
}
