@use 'bootstrap/scss/bootstrap';
@use 'styles/styles';
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";


@import "@fortawesome/fontawesome-free/css/all.min.css";
body{
  background-color: #ffffff ;
}
a{
  text-decoration: none;
  color: black;
}
/* You can add global styles to this file, and also import other style files */
li{
  list-style: none;
}
.owl-stage{
  padding: 30px 0 !important; ;
}
.dal-slide-body {
  .owl-stage {
    padding: 20px 0 !important;
  }
}
.soog-slide {
  .owl-stage {
    padding-bottom: 20px !important;
    padding-top: 55px !important;
  }
}



