.home-pillars {
  min-height: 470px;
  user-select: none;

  &-item {


    &-img {

      &-flsh {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-up {
          font-size: 20px;
          border: 2px solid black;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          cursor: pointer;
          color: black;
          transition: 0.5s all;

          &:hover {
            transform: scale(0.9);
            transition: 0.5s all;
          }
        }

        &-down {
          &:hover {
            transform: scale(0.9);
            transition: 0.5s all;
          }

          font-size: 20px;
          border: 2px solid black;

          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          cursor: pointer;
          color: black;
        }
      }

      &-icon {
        display: flex;
        align-items: center;

      }

      &-top {
        width: 120px;
        height: 120px;
        background: #FFFFFF;
        box-shadow: -2px 4px 30px rgba(193, 193, 193, 0.3);
        border-radius: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 10px;

        &:after {
          content: '';
          position: absolute;
          width: 120px;
          height: 120px;
          background-color: var(--after-bg-color);
          z-index: -3;
          border-radius: 20px;
          top: 0;
          transform: rotate(6.05deg);
          right: -8px;
          transition: 0.2s all;
        }

        &:hover:after {
          transform: rotate(0deg);
          right: 0;
          transition: 0.2s all;
        }

        &img {

        }
      }

    }

    &-box {
      position: relative;

      &-more {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 8px 32px 0 transparent;
        min-width: 168px !important;
        //background: #198f76;
        cursor: pointer;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-weight: 700;
        border: none !important;
        height: 50px;
        padding: 12px 25px;

        &-text {
          transition: all 1s !important;
          padding: 0 8px;
        }

        .textT {
          transition: all 1s !important;
          display: none;
        }

        &:hover {
          justify-content: center;
          box-shadow: 0 8px 32px 0 rgba(24, 162, 161, 0.35),
          inset 0 1px 1px rgba(255, 255, 255, 0.3);

          .text {
            transition: all 1s !important;
          }

          .textT {
            transition: all 1s !important;
            display: block;
            padding: 0 5px;
            text-align: center;
          }
        }

        &-icon {
          font-size: 20px;
          background: #0ea383;

          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 45px;
          border-radius: 15px;
          cursor: pointer;
          color: white;
        }
      }

      &-description {
        border-radius: 20px;
        border: 1px solid #D3D3D3;
        padding: 20px 30px 41px 30px;
        position: relative;
        user-select: text;

      }


    }


  }


}

.home-pillars-item-box-more:hover .home-pillars-item-box-more-icon {
  transform: rotate(10deg) translate(80px) !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.96);

}

.textT {
  transition: all 1s !important;
  //padding: 0 8px;
}

//
//.fade-out {
//
//}
.content {
  transition: 0.1s all;
  width: 120px;
  height: 120px;
  //background: #FFFFFF;
  box-shadow: -2px 4px 30px rgba(193, 193, 193, 0.3);
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.fade-out:after {

  z-index: 0;
  border-radius: 20px;
  top: 0;
  transform: rotate(0deg);
  right: 0;
  transition: 0.01s all;

}

.fade-out:hover:after {
  transform: rotate(0deg);
  right: 0;
  transition: 5s all !important;
}

.content .content-img {
  display: none;
}

.fade-out .content-img {
  display: block;
  z-index: 1;
  position: absolute;
  width: 35%;
  top: 33%;
  fill: #1e9b81 !important;
}

.content-img {
  filter: brightness(100%) saturate(100%) invert(100%) sepia(100%) saturate(4000%) hue-rotate(150deg);

}

.home-pillars-item-box-description {
  min-height: 150px;
  position: relative;
}

.description-loader {
  width: 100%;
  position: absolute;
  top: 35%;
  left: 45%;
  right: 45%;

}

.description-loader img {
  filter: brightness(0) saturate(100%) invert(45%) sepia(84%) saturate(600%) hue-rotate(130deg);
  width: 50px;
}

//seeeeeeeeeeeeec 222222222222222222222222
.circle-wrapper{
  width: 430px;
  height: 430px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.circle-main{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  border:1px solid #ddd;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:5;
  padding: 100px;
  margin: 100px !important;
}
.orbit-1 {
  position: absolute;
  border: 1px solid #bcbcbc;
  border-radius: 50%;
  animation: orbit-1 15s linear infinite;
}
.orbit-2 {
  position: absolute;
  border: 1px solid #bcbcbc;
  border-radius: 50%;

  animation: orbit-1 15s linear infinite;
}

.orbit-item {
  width: 65px;
  height: 65px;
  //padding:   10px;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #e5e5e5;
  border-radius: 50%;

  animation: orbitReverse 15s linear infinite;
}

.orbit-item.top {
  top: -32px;
}

/* عکس پایین */
.orbit-item.bottom {
  bottom: -32px;
}
@keyframes orbit-1{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}
@keyframes orbit-2{
  0%{
    transform:rotate(0deg);
  }
  50%{
    transform:rotate(360deg);
  }
  100%{
    transform:rotate(180deg);

  }

}

@keyframes orbitReverse{
  from{
    transform:translateX(-50%) rotate(0deg);
  }
  to{
    transform:translateX(-50%) rotate(-360deg);
  }
}
.orbit-1 {
  width: 320px;
  height: 320px;
}

.orbit-2 {
  width: 450px;
  height: 450px;
}
