<div class="home-pillars mb-5 pb-5 ">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="home-pillars-item">
          <div class="home-pillars-item-img my-5 d-flex justify-content-between align-items-center  ">
            <div class="d-flex gap-3">
              <div class="home-pillars-item-img-top"
                   [style]="{
                     '--after-bg-color': currentItem().color
                    }"
                >
                  <img [src]=" currentItem().img
              " alt="fanos-logo-unlable">
            </div>
            <div class="home-pillars-item-img-icon flex-column justify-content-center">
              <img [src]="currentItem().imgiconA" alt="description">
              <img [src]="currentItem().imgiconB" alt="description">
            </div>
          </div>

          <div class="home-pillars-item-img-flsh">
            <i class="fa-solid fa-chevron-up home-pillars-item-img-flsh-up"
               (click)="goNext()"
            ></i>
            <i class="fa-solid fa-chevron-down home-pillars-item-img-flsh-down"
               (click)="goPrevious()"
            ></i>
          </div>

        </div>
        <div class="home-pillars-item-box">
          <p class="home-pillars-item-box-description text-justify">
            {{ currentItem().description }}
          </p>
          <div class="home-pillars-item-box">
            <button class="home-pillars-item-box-more p-1 pe-3"

                    [style.background-color]="currentItem().color">
                 <span class="text">
                  {{ currentItem().btn }}
                </span>
              <i [style.background-color]="currentItem().color"
                 class="fa-solid fa-arrow-left home-pillars-item-box-more-icon"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-6">

    </div>
  </div>
</div>
</div>

